# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Generated platform files and local configuration
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
